if($("div#lists").length > 0){
    $("div#lists").append('<%= escape_javascript(render :partial => "list", :object => @list) %>')
}
else{
    $("select#current_list_select")
            .append("<option value='<%=@list.id%>'><%= @list.name %></option>")
            .val(<%=@list.id%>)
            .trigger("change");
        
    $(".selectBox").html("<%= @list.name %>");
}
