$("select#current_list_select")
        .append("<option value='<%=@list.id%>'><%= @list.name %></option>")
        .val(<%=@list.id%>)
        .trigger("change");
        
$(".selectBox").html("<%= @list.name %>");
        
$("#create_new_list").html('<%= link_to "Create New List", new_list_url, :remote => true, :class => "button blue medium" %>');
        

