<%= div_for list_item do %>
	<div class='list-item-text <%= completed_class(list_item) %>'>
		<%= list_item.activity.name %>
	</div>
	<%= item_owner_section(list_item) do %>	
		<div class="right delete-div">
			<%= button_to "Delete", list_item_url(list_item),
		            :confirm => "Are you sure?", :method => :delete, :remote => true, :class => 'button red small' %>
		</div>
		<div class="right completed-div">
			<%= form_for list_item, :remote => true do |f| %>
			  	<%= f.hidden_field :completed, :value => !list_item.completed %>
			    <%= f.submit toggle_completed_text(list_item), :class => 'button green small' %>
			<% end %>
		</div>
	<% end %>
	<div class="clear"></div>
<% end %>
