<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Web Application" />
	<meta name="keywords" content="list, lists, bucket list" />
	<link rel="shortcut icon" href="/images/favicon.ico">
	<title>Listolicious</title>
  	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({appId: '169299983097581', status: true, cookie: true,
	             xfbml: true});
	  };
	  (function() {
	    var e = document.createElement('script'); e.async = true;
	    e.src = document.location.protocol +
	      '//connect.facebook.net/en_US/all.js';
	    document.getElementById('fb-root').appendChild(e);
	  }());
	</script>
	
	<%= welcome_div %>
	
	<div id="header">
		<h1><a href="#">Listolicious</a></h1><br />
		<h2>A simple, easy way to keep track of all of life's lists.</h2>
	</div>

	<div id="bar1">
		<div class="wrap">
			<div class="box">
				<%= yield :bar1 %>
			</div>
		</div>
	</div>

	<div id="bar2">
		<div class="wrap">
			<%= yield :bar2 %>
		</div>
	</div>

	<div class="wrap">
		<% if flash[:error] != nil %>
		   <div class="flash error">Error: <%= flash[:error] %></div>
		<% end %> 

		<%if flash[:notice] != nil %>
			<div class="flash notice"><%= flash[:notice] %></div>
		<% end %>

		<%= yield %>
	</div>
		
	<div id="footer">
		<p class="right">Design: <a href="http://www.solucija.com/" title="Information Architecture and Web Design">Luka Cvrk</a> &middot; Sponsor: <a href="http://www.fool.co.uk/credit-cards/credit-cards-comparison.aspx">Credit Cards</a></p>
		<p>&copy; Copyright 2010 <a href="http://benroesch.com">Ben Roesch</a> &middot; All Rights Reserved</p>
	</div>
</body>
</html>